<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Examining-Data-for-Potential-Issues" data-toc-modified-id="Examining-Data-for-Potential-Issues-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining Data for Potential Issues</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Missing Values</a></span><ul class="toc-item"><li><span><a href="#Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values" data-toc-modified-id="Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Show the number of null values only of the columns that actually have null values</a></span></li><li><span><a href="#Remove-the-columns-that-have-more-than-10,000-null-values-in-them" data-toc-modified-id="Remove-the-columns-that-have-more-than-10,000-null-values-in-them-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Remove the columns that have more than 10,000 null values in them</a></span></li><li><span><a href="#Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null." data-toc-modified-id="Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null.-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create a new dataframe that shows only the row where <code>displ</code> is null.</a></span></li><li><span><a href="#Fill-nan-values-with-the-most-appropriate-technique" data-toc-modified-id="Fill-nan-values-with-the-most-appropriate-technique-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Fill nan values with the most appropriate technique</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Incorrect-Values" data-toc-modified-id="Incorrect-Values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Incorrect Values</a></span><ul class="toc-item"><li><span><a href="#Check-similar-rows" data-toc-modified-id="Check-similar-rows-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check similar rows</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Low-Variance-Columns" data-toc-modified-id="Low-Variance-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Low Variance Columns</a></span><ul class="toc-item"><li><span><a href="#Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame." data-toc-modified-id="Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame.-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.</a></span></li></ul></li><li><span><a href="#Extreme-Values-and-Outliers" data-toc-modified-id="Extreme-Values-and-Outliers-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Extreme Values and Outliers</a></span></li><li><span><a href="#Data-Type-Correction" data-toc-modified-id="Data-Type-Correction-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Data Type Correction</a></span><ul class="toc-item"><li><span><a href="#Check-the-data-type-of-each-column" data-toc-modified-id="Check-the-data-type-of-each-column-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Check the data type of each column</a></span></li><li><span><a href="#Cleaning-years" data-toc-modified-id="Cleaning-years-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Cleaning years</a></span></li></ul></li><li><span><a href="#Cleaning-Text-and-Removing-Special-Characters" data-toc-modified-id="Cleaning-Text-and-Removing-Special-Characters-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Cleaning Text and Removing Special Characters</a></span></li><li><span><a href="#Finding-and-Removing-Duplicates" data-toc-modified-id="Finding-and-Removing-Duplicates-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Finding and Removing Duplicates</a></span><ul class="toc-item"><li><span><a href="#Drop-duplicate-rows-that-are-completely-equal" data-toc-modified-id="Drop-duplicate-rows-that-are-completely-equal-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Drop duplicate rows that are completely equal</a></span></li><li><span><a href="#Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns." data-toc-modified-id="Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns.-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.</a></span></li></ul></li><li><span><a href="#Export-clean-dataset" data-toc-modified-id="Export-clean-dataset-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Export clean dataset</a></span></li></ul></div>

# Data Cleaning


Lab Goals

+ Examine data for potential issues.
+ Identify and fill in missing values.
+ Identify and correct incorrect values.
+ Remove low variance columns.
+ Identify potential outliers.
+ Correct incorrect data types.
+ Remove special characters and clean categorical variables.
+ Identify and remove duplicate records.

Introduction

When working with data sets, you will find that they often require a bit of cleaning. Whether Pandas originally read the data types incorrectly, records are duplicated, the data contains special characters or missing value, or there are slightly different references to the same entity, every data analyst must know how to clean the data they are working with before analyzing it. In this lesson, you will learn about some of the most common problems that make data messy and methods for correcting those problems and cleaning your data.

The data set we are going to be using for this lesson is a messy version of the vehicles data set we worked with in the previous lesson. Let's import this version of our data set so that we can then practice cleaning it up.

In [88]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [89]:
#Load data from vehicles_messy.csv

data = pd.read_csv('/Users/yaninafontana/ironhack/2.4-lab_data_cleaning/data/vehicles_messy.csv')

# Examining Data for Potential Issues

One of the first things we want to do is examine the data and look for any **potential issues**. Some of the things we are interested in identifying in the data at this stage include:

- Missing values
- Special characters
- Incorrect values
- Extreme values or outliers
- Duplicate records
- Incorrect data types

The presence of these may cause problems when it's time to analyze the data, so we want to make sure we address them beforehand. We can start by visually inspecting the data using the `.head` method, which will show us the first 5 rows of data.

In [90]:
#your code
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,9011,(FFS),-1,1600,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0000,0.0,Two Seaters,1985,-1250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,12.0,4.9,Rear-Wheel Drive,22020,(GUZZLER),-1,3050,0,Regular,Regular Gasoline,-1,-1,14,0.0,0,0.0,0.0,0.0,0.0,0,0,10,0,0,Ferrari,Testarossa,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,11.0000,0.0,19.0000,0.0,Two Seaters,1985,-8500,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,2100,(FFS),-1,1250,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0000,0.0,47.0000,0.0,Subcompact Cars,1985,500,NaN,SIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,8.0,5.2,Rear-Wheel Drive,2850,NaN,-1,3050,0,Regular,Regular Gasoline,-1,-1,12,0.0,0,0.0,0.0,0.0,0.0,0,0,1000,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,0,0.0,0.0,0.0,0.0,Automatic 3-spd,12.2222,0.0,16.6667,0.0,Vans,1985,-8500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2150,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0000,0.0,32.0000,0.0,Compact Cars,1993,-4000,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

But how big actually is our dataframe??? Check it with `.shape` method

In [91]:
#your code
data.shape

(37843, 83)

Let's dive a little more in the content of our data set. Is there any method that shows us the **column names**, its **data types** and number of **non-null values**?

In [92]:
#your code
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

# Missing Values

From this initial view, we can see that our data set contains some columns that have missing values in them and others that seem to have a lot of zero values. 

Let's see how prevalent missing values are in our data. We can use the Pandas `.isnull()` method to check whether the value in each field is missing (*null*) and return either True or False for each field. 

We can use the `.sum()` method to total up the number of True values by column, and then we can add a condition using square brackets that will filter the data and show us only columns where the number of null values were greater than zero.

## Show the number of null values only of the columns that actually have null values

In [93]:
#your code
nan_cols = data.isnull().sum()

nan_cols[nan_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [94]:
nan_cols = data.isna().sum() #tambien se puede hacer así. 
nan_cols[nan_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [95]:
nan_cols = data.isna().mean() * 100  # así puedo saber qué porcentaje de nulos tiene cada columna, para decidir qué elimino

nan_cols[nan_cols>0]

cylinders      0.325027
displ          0.317100
drive          3.141928
eng_dscr      40.702376
trany          0.029067
guzzler       93.972465
trans_dscr    60.238353
tCharger      86.296012
sCharger      98.240097
atvType       91.882250
fuelType2     96.279365
rangeA        96.292577
evMotor       98.514917
mfrCode       81.436461
c240Dscr      99.902228
c240bDscr     99.904870
startStop     83.780356
dtype: float64

We can see that some columns have relatively few null values while others have tens of thousands of nulls. For fields that have a lot of null values, you will often have to make a judgement call. If you don't think the information is going to be very useful to your analysis, then you would remove those columns from your data frame.

## Remove the columns that have more than 10,000 null values in them

In Pandas, we can do that using the drop method. For our purposes, let's remove the columns that have more than 10,000 null values in them. We will add these column names to a list, and then we will pass those columns to the drop method and indicate that we want columns (not rows) dropped by setting the axis parameter to 1.

In [98]:
#your code
data = data.drop(columns = nan_cols[nan_cols>10000].index.to_list())

In [99]:
#your code
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [100]:
data.shape

(37843, 70)

This leaves us with just a handful of remaining columns that have null values. Of the columns that remain, it looks like the cylinders column and the displ column have a similar number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting the data set and looking at just the records where displ is null and just the columns we think will be informative in allowing us to determine a reason.

## Create a new dataframe that shows only the row where `displ` is null. 
Keep only the columns you think are useful

In [101]:
#your code

In [102]:
displ_null_data = data[data['displ'].isna()][['make', 'model', 'year', 'fuelType', 'phevBlended', 'cylinders', 'displ']]

In [103]:
displ_null_data

,make,model,year,fuelType,phevBlended,cylinders,displ
7138,Nissan,Altra EV,2000,Electricity,False,NaN,NaN
7139,Toyota,RAV4 EV,2000,Electricity,False,NaN,NaN
8143,Toyota,RAV4 EV,2001,Electricity,False,NaN,NaN
8144,Ford,Th!nk,2001,Electricity,False,NaN,NaN
8146,Ford,Explorer USPS Electric,2001,Electricity,False,NaN,NaN
...,...,...,...,...,...,...,...
30969,Kia,Soul Electric,2017,Electricity,False,NaN,NaN
30972,Tesla,Model S (60 kW-hr battery pack),2016,Electricity,False,NaN,NaN
30973,Tesla,Model S AWD - 60D,2016,Electricity,False,NaN,NaN
30974,Tesla,Model S AWD - P100D,2016,Electricity,False,NaN,NaN
30975,Tesla,Model X AWD - 60D,2016,Electricity,False,NaN,NaN

## Fill nan values with the most appropriate technique 
*HINT: Electric cars do not have cylinders and can therefore not have any displacement*

In [104]:
#your code
data[['cylinders', 'displ']] = data[['cylinders', 'displ']].fillna(0)

In [105]:
#comprobación de q rellenó los NaN
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

drive    1189
trany      11
dtype: int64

## Bonus: 
Now that we have filled in those null values, there are only two columns in the data set that still have null values: trany and drive. Use what you have learned in this section to investigate and potentially fill in the remaining null values.

In [106]:
#Exploración columna drive

drive_null_data = data[data['drive'].isna()]

In [107]:
drive_null_data

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240000,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,0.0,0,-1,0.0,0.000000,85,0.0,0,0.0,40.0,0.0,0.0,0.0,0.0,NaN,0,-1,800,0,Electricity,Electricity,-1,-1,91,0.0,0,0.0,0.0,37.0,0.0,0,0,16423,0,0,Nissan,Altra EV,N,False,0,0,90,0.0,0.0,0.0,0.0,NaN,116.2069,0.0,129.6154,0.0,Midsize Station Wagons,2000,2750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312000,0.0,0.0,0.0,74,0.0,0,0.0,0.0,46.0,0.0,0,-1,0.0,0.000000,65,0.0,0,0.0,52.0,0.0,0.0,0.0,0.0,NaN,0,-1,1000,0,Electricity,Electricity,-1,-1,58,0.0,0,0.0,0.0,59.0,0.0,0,0,17329,0,0,Ford,Th!nk,N,False,0,0,29,0.0,0.0,0.0,0.0,NaN,105.3125,0.0,82.1951,0.0,Two Seaters,2001,1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8147,0.270000,0.0,0.0,0.0,84,0.0,0,0.0,0.0,40.0,0.0,0,-1,0.0,0.000000,75,0.0,0,0.0,45.0,0.0,0.0,0.0,0.0,NaN,0,-1,900,0,Electricity,Electricity,-1,-1,66,0.0,0,0.0,0.0,51.0,0.0,0,0,17331,0,0,Nissan,Hyper-Mini,N,False,0,0,33,0.0,0.0,0.0,0.0,NaN,120.3571,0.0,93.6111,0.0,Two Seaters,2001,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
18217,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,NaN,9002,-1,1600,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,26561,0,0,Alfa Romeo,Spider Veloce 2000,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.0000,0.0,35.0000,0.0,Two Seaters,1984,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
18218,14.982273,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,403.954545,22,0.0,0,0.0,0.0,0.0,0.0,4.0,1.5,NaN,12710,-1,1500,0,Regular,Regular Gasoline,-1,-1,26,0.0,0,0.0,0.0,0.0,0.0,0,0,26562,0,0,Bertone,X1/9,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,25.0000,0.0,36.0000,0.0,Two Seaters,1984,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23029,0.240000,0.0,0.0,0.0,79,0.0,0,0.0,0.0,43.0,0.0,0,-1,0.0,0.000000,85,0.0,0,0.0,40.0,0.0,0.0,0.0,0.0,NaN,0,-1,800,0,Electricity,Electricity,-1,-1,94,0.0,0,0.0,0.0,36.0,0.0,0,0,30968,0,0,GMC,EV1,N,False,0,0,55,0.0,0.0,0.0,0.0,Automatic (A1),112.3333,0.0,134.8000,0.0,Two Seaters,1999,2750,0.0,Tue Jan 01 00:00:00 EST 2013,Fri Apr 11 00:00:00 EDT 2014,0,0,0
23030,0.546000,0.0,0.0,0.0,35,0.0,0,0.0,0.0,96.0,0.0,0,-1,0.0,0.000000,37,0.0,0,0.0,91.0,0.0,0.0,0.0,0.0,NaN,0,-1,1750,0,Electricity,Electricity,-1,-1,39,0.0,0,0.0,0.0,85.0,0.0,0,0,30969,0,0,GMC,EV1,N,False,0,0,105,0.0,0.0,0.0,0.0,Automatic (A1),46.8056,0.0,56.1667,0.0,Two Seaters,1999,-2000,0.0,Tue Jan 01 00:00:00 EST 2013,Fri Apr 11 00:00:00 EDT 2014,0,0,0
23032,0.426000,0.0,0.0,0.0,49,0.0,0,0.0,0.0,69.0,0.0,0,-1,0.0,0.000000,48,0.0,0,0.0,71.0,0.0,0.0,0.0,0.0,NaN,0,-1,1400,0,Electricity,Electricity,-1,-1,46,0.0,0,0.0,0.0,73.0,0.0,0,0,30970,0,0,Honda,EV Plus,N,False,0,0,81,0.0,0.0,0.0,0.0,Automatic (A1),68.7755,0.0,66.0784,0.0,Compact Cars,1999,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Fri Apr 11 00:00:00 EDT 2014,0,0,0
23037,0.426000,0.0,0.0,0.0,49,0.0,0,0.0,0.0,69.0,0.0,0,-1,0.0,0.000000,48,0.0,0,0.0,71.0,0.0,0.0,0.0,0.0,NaN,0,-1,1400,0,Electricity,Electricity,-1,-1,46,0.0,0,0.0,0.0,73.0,0.0,0,0,30975,0,0,Honda,EV Plus,N,False,0,0,81,0.0,0.0,0.0,0.0,Automatic (A1),68.7755,0.0,66.0784,0.0,Compact Cars,1998,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Fri Apr 11 00:00:00 EDT 2014,0,0,0
23040,0.204000,0.0,0.0,0.0,102,0.0,0,0.0,0.0,33.0,0.0,0,-1,0.0,0.000000,98,0.0,0,0.0,34.0,0.0,0.0,0.0,0.0,NaN,0,-1,650,0,Electricity,Electricity,-1,-1,94,0.0,0,0.0,0.0,36.0,0.0,0,0,30978,0,0,MINI,MiniE,N,False,0,0,100,0.0,0.0,0.0,0.0,Automatic (A1),146.8499,0.0,133.6898,0.0,Minicompact Cars,2008,3500,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0

In [108]:
data[['drive']] = data[['drive']].fillna("desconocido")

In [109]:
data.iloc[7138].head(25)       #una manera de comprobar que rellenó con "desconocido" es explorar una 
                                #fila que tenia NaN, y efectivamente ahora dice desconocido

barrels08                 0.24
barrelsA08                 0.0
charge120                  0.0
charge240                  0.0
city08                      81
city08U                    0.0
cityA08                      0
cityA08U                   0.0
cityCD                     0.0
cityE                     41.0
cityUF                     0.0
co2                          0
co2A                        -1
co2TailpipeAGpm            0.0
co2TailpipeGpm             0.0
comb08                      85
comb08U                    0.0
combA08                      0
combA08U                   0.0
combE                     40.0
combinedCD                 0.0
combinedUF                 0.0
cylinders                  0.0
displ                      0.0
drive              desconocido
Name: 7138, dtype: object

In [110]:
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

trany    11
dtype: int64

In [111]:
#Exploración columna trany

trany_null_data = data[data['trany'].isna()]["fuelType"]

In [112]:
trany_null_data

7138     Electricity
7139     Electricity
8143     Electricity
8144     Electricity
8146     Electricity
8147     Electricity
9212     Electricity
9213     Electricity
10329    Electricity
19097        Regular
19128        Regular
Name: fuelType, dtype: object

In [113]:
filas_a_sobreescribir = [7138, 7139, 8143, 8144, 8146, 8147, 9212, 9213, 10329]

for fila in filas_a_sobreescribir:
    data.loc[fila, 'trany'] = 'automatico'

In [114]:
nan_cols = data.isnull().sum()

nan_cols[nan_cols>0]

trany    2
dtype: int64

In [115]:
filas_a_sobreescribir = [19097, 19128]

for fila in filas_a_sobreescribir:
    data.loc[fila, 'trany'] = 'desconocido'

In [116]:
nan_cols = data.isnull().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [117]:
data.shape

(37843, 70)

# Incorrect Values

In addition to null values, we also want to try to identify any values that seem incorrect. For example, in the previous section, we learned that a vehicle without cylinders should not have displacement and vice versa. Let's check to see if there are any cases that violate these rules.

In [118]:
#your code
pd.set_option('display.max_columns', None)

In [120]:
data.duplicated().any()

False

In [121]:
columnas_todo_cero = (data == 0).all()

columnas_todo_cero = columnas_todo_cero[columnas_todo_cero].index

if len(columnas_todo_cero) > 0:
    print("Columnas con todos los valores iguales a 0:")
    print(columnas_todo_cero)
else:
    print("No hay columnas con todos los valores iguales a 0.")

Columnas con todos los valores iguales a 0:
Index(['charge120'], dtype='object')

In [122]:
data.drop('charge120', axis=1, inplace=True)

In [123]:
data.shape

(37843, 69)

Is there any row that seems to have strange values?

In [124]:
#your explanation here

Here we have identified a vehicle with a regular gasoline engine that reportedly does not have any cylinders but does have a value for displacement.

The way we would correct this would be to either perform some domain research or ask a domain expert to find out how many actual cylinders this vehicle had. Alternatively, you can also try to look at similar vehicles in the data set and determine the most likely value for this field.

## Check similar rows

In [125]:
#your code
data.duplicated().any()

False

Suppose that using one of the aforementioned methods, we found out that this vehicle actually has a 4 cylinder engine. Update that specific value in the data frame.

In [126]:
#your code

## Bonus: 
 Try to find other values that might be incorrect in the data set based on what you know about automobiles and correct them.

In [127]:
#your code

# Low Variance Columns

When analyzing data, we want the fields we are working with to be informative, and we will want to strip away any columns that don't have a lot of value to us. One easy way to do this is to identify columns that have low variance, where the majority of the values in the column are the same. Since there is not a lot of variability in these columns, they have the potential to not be as informative as columns that have a variety of different values in them.

Let's try to identify columns where at least 90% of the values are the same so that we can remove them from our data set. To do this, we are going to create an empty list called low_variance that will eventually contain the names of columns that fit our criteria.

We will then write a for loop that will take the minimum and the 90th percentile value for all the numeric columns in our data set (identified via the _get_numeric_data method). If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [128]:
#your code
low_variance = []

for columna in data.select_dtypes(include=['number']):

    minimo = data[columna].min()
    pc_90 = data[columna].quantile(0.90)
    

    if minimo == pc_90:
        low_variance.append(columna)

In [129]:
low_variance

['barrelsA08',
 'charge240',
 'cityA08',
 'cityA08U',
 'cityCD',
 'cityE',
 'cityUF',
 'co2A',
 'co2TailpipeAGpm',
 'combA08',
 'combA08U',
 'combE',
 'combinedCD',
 'combinedUF',
 'fuelCostA08',
 'ghgScoreA',
 'highwayA08',
 'highwayA08U',
 'highwayCD',
 'highwayE',
 'highwayUF',
 'range',
 'rangeCity',
 'rangeCityA',
 'rangeHwy',
 'rangeHwyA',
 'UCityA',
 'UHighwayA',
 'charge240b',
 'phevCity',
 'phevHwy',
 'phevComb']

This returned 34 columns that we could potentially eliminate due to not having high enough variability to be informative. Of course, before we do this, we should check the values that do exist in these fields to confirm that they are not very informative. Once they have been checked, we can use the the drop method like we did earlier in this lesson to remove those columns from our data frame.

## Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.

In [130]:
#your code
data = data.drop(low_variance, axis=1)

In [131]:
data.shape

(37843, 37)

# Extreme Values and Outliers

Now that we have removed low variance columns, we should look for outliers, or extreme values, in the columns that remain. These outliers can influence our aggregations when we are analyzing data later, so we want to make sure we address them during our data cleaning stage.

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

    25th Percentile - (IQR x 1.5)
    75th Percentile + (IQR x 1.5)

Any values outside this range are potential outliers and should be investigated.

Let's look at how we would do this for our data set using Python. We will use the Pandas describe function to easily calculate the 25th and 75th percentiles for every column and transpose the results so that we can easily reference the values in calculating the interquartile ranges.

In [132]:
#Run this code
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719340,1.779180,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

We will then create an empty data frame called outliers with the same columns as our data set. Finally, we will loop through each column in the data calculating the lower and upper bounds, retrieving records where the value for that column falls outside the bounds we established, and appending those results to our outlier data frame.

In [133]:
#Run this code
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    

outliers.head()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,engId,feScore,fuelCost08,fuelType,fuelType1,ghgScore,highway08,highway08U,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn,Outlier
47,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,2890,-1,3350,Regular,Regular Gasoline,-1,11,0.0,0,0,1004,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,Automatic 3-spd,11.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
58,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,2854,-1,3350,Regular,Regular Gasoline,-1,11,0.0,0,0,1005,0,0,Dodge,B350 Wagon 2WD,N,False,0,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
69,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,2850,-1,3350,Regular,Regular Gasoline,-1,11,0.0,0,0,1006,0,0,Dodge,B350 Wagon 2WD,N,False,0,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
80,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,2890,-1,3350,Regular,Regular Gasoline,-1,10,0.0,0,0,1007,0,0,Dodge,B350 Wagon 2WD,N,False,0,0,Automatic 3-spd,11.0,14.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
275,32.961,9,0.0,-1,888.7,10,0.0,8.0,7.4,Rear-Wheel Drive,4880,-1,3350,Regular,Regular Gasoline,-1,12,0.0,0,0,10245,0,0,Chevrolet,C1500 Pickup 2WD,N,False,0,0,Automatic 4-spd,11.0,16.0,Standard Pickup Trucks,1993,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08

In [134]:
outliers_indices = outliers.index
data.drop(outliers_indices, inplace = True)

Our outliers data frame should now be populated with records that you can investigate further and determine whether they should be kept in the data or dropped. The Outlier column we added before appending the results for the column to the outliers data frame will let you know what column in each record contained the outlier. If you find that this method is returning too many results, you can be more stringent with your cutoff criteria (e.g. increasing the constant by which you multiply the IQR to 3 instead of 1.5).

# Data Type Correction

One common problem that is often overlooked is incorrect data types. This typically occurs when there is a numeric variable that should actually be represented as a categorical variable.

## Check the data type of each column

In [135]:
data.shape

(16435, 37)

In [136]:
##your code
    
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16435 entries, 0 to 37837
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       16435 non-null  float64
 1   city08          16435 non-null  int64
 2   city08U         16435 non-null  float64
 3   co2             16435 non-null  int64
 4   co2TailpipeGpm  16435 non-null  float64
 5   comb08          16435 non-null  int64
 6   comb08U         16435 non-null  float64
 7   cylinders       16435 non-null  float64
 8   displ           16435 non-null  float64
 9   drive           16435 non-null  object
 10  engId           16435 non-null  int64
 11  feScore         16435 non-null  int64
 12  fuelCost08      16435 non-null  int64
 13  fuelType        16435 non-null  object
 14  fuelType1       16435 non-null  object
 15  ghgScore        16435 non-null  int64
 16  highway08       16435 non-null  int64
 17  highway08U      16435 non-null  float64
 18  hlv             16435 non-null  int64
 19  hpv             16435 non-null  int64
 20  id              16435 non-null  int64
 21  lv2             16435 non-null  int64
 22  lv4             16435 non-null  int64
 23  make            16435 non-null  object
 24  model           16435 non-null  object
 25  mpgData         16435 non-null  object
 26  phevBlended     16435 non-null  bool
 27  pv2             16435 non-null  int64
 28  pv4             16435 non-null  int64
 29  trany           16435 non-null  object
 30  UCity           16435 non-null  float64
 31  UHighway        16435 non-null  float64
 32  VClass          16435 non-null  object
 33  year            16435 non-null  int64
 34  youSaveSpend    16435 non-null  int64
 35  createdOn       16435 non-null  object
 36  modifiedOn      16435 non-null  object
dtypes: bool(1), float64(9), int64(17), object(10)
memory usage: 14.7 MB

## Cleaning years
Do you think column year is a continuous variable? Would you change it onto another dtype?

In [137]:
#your code
data['year']=pd.to_datetime(data["year"], format="%Y")

In [138]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16435 entries, 0 to 37837
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       16435 non-null  float64
 1   city08          16435 non-null  int64
 2   city08U         16435 non-null  float64
 3   co2             16435 non-null  int64
 4   co2TailpipeGpm  16435 non-null  float64
 5   comb08          16435 non-null  int64
 6   comb08U         16435 non-null  float64
 7   cylinders       16435 non-null  float64
 8   displ           16435 non-null  float64
 9   drive           16435 non-null  object
 10  engId           16435 non-null  int64
 11  feScore         16435 non-null  int64
 12  fuelCost08      16435 non-null  int64
 13  fuelType        16435 non-null  object
 14  fuelType1       16435 non-null  object
 15  ghgScore        16435 non-null  int64
 16  highway08       16435 non-null  int64
 17  highway08U      16435 non-null  float64
 18  hlv             16435 non-null  int64
 19  hpv             16435 non-null  int64
 20  id              16435 non-null  int64
 21  lv2             16435 non-null  int64
 22  lv4             16435 non-null  int64
 23  make            16435 non-null  object
 24  model           16435 non-null  object
 25  mpgData         16435 non-null  object
 26  phevBlended     16435 non-null  bool
 27  pv2             16435 non-null  int64
 28  pv4             16435 non-null  int64
 29  trany           16435 non-null  object
 30  UCity           16435 non-null  float64
 31  UHighway        16435 non-null  float64
 32  VClass          16435 non-null  object
 33  year            16435 non-null  datetime64[ns]
 34  youSaveSpend    16435 non-null  int64
 35  createdOn       16435 non-null  object
 36  modifiedOn      16435 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(9), int64(16), object(10)
memory usage: 14.7 MB

You can apply this technique to any column whose data type you would like to change.

In [139]:
#your code
for c in data.select_dtypes('integer'):
    
    data[c] = pd.to_numeric(data[c], downcast='integer')
    
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16435 entries, 0 to 37837
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       16435 non-null  float64
 1   city08          16435 non-null  int8
 2   city08U         16435 non-null  float64
 3   co2             16435 non-null  int8
 4   co2TailpipeGpm  16435 non-null  float64
 5   comb08          16435 non-null  int8
 6   comb08U         16435 non-null  float64
 7   cylinders       16435 non-null  float64
 8   displ           16435 non-null  float64
 9   drive           16435 non-null  object
 10  engId           16435 non-null  int16
 11  feScore         16435 non-null  int8
 12  fuelCost08      16435 non-null  int16
 13  fuelType        16435 non-null  object
 14  fuelType1       16435 non-null  object
 15  ghgScore        16435 non-null  int8
 16  highway08       16435 non-null  int8
 17  highway08U      16435 non-null  float64
 18  hlv             16435 non-null  int8
 19  hpv             16435 non-null  int8
 20  id              16435 non-null  int32
 21  lv2             16435 non-null  int8
 22  lv4             16435 non-null  int8
 23  make            16435 non-null  object
 24  model           16435 non-null  object
 25  mpgData         16435 non-null  object
 26  phevBlended     16435 non-null  bool
 27  pv2             16435 non-null  int8
 28  pv4             16435 non-null  int16
 29  trany           16435 non-null  object
 30  UCity           16435 non-null  float64
 31  UHighway        16435 non-null  float64
 32  VClass          16435 non-null  object
 33  year            16435 non-null  datetime64[ns]
 34  youSaveSpend    16435 non-null  int16
 35  createdOn       16435 non-null  object
 36  modifiedOn      16435 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(9), int16(4), int32(1), int8(11), object(10)
memory usage: 13.1 MB

In [140]:
for c in data.select_dtypes(include='object'):
    
    data[c]=data[c].astype('category')
 
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16435 entries, 0 to 37837
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       16435 non-null  float64
 1   city08          16435 non-null  int8
 2   city08U         16435 non-null  float64
 3   co2             16435 non-null  int8
 4   co2TailpipeGpm  16435 non-null  float64
 5   comb08          16435 non-null  int8
 6   comb08U         16435 non-null  float64
 7   cylinders       16435 non-null  float64
 8   displ           16435 non-null  float64
 9   drive           16435 non-null  category
 10  engId           16435 non-null  int16
 11  feScore         16435 non-null  int8
 12  fuelCost08      16435 non-null  int16
 13  fuelType        16435 non-null  category
 14  fuelType1       16435 non-null  category
 15  ghgScore        16435 non-null  int8
 16  highway08       16435 non-null  int8
 17  highway08U      16435 non-null  float64
 18  hlv             16435 non-null  int8
 19  hpv             16435 non-null  int8
 20  id              16435 non-null  int32
 21  lv2             16435 non-null  int8
 22  lv4             16435 non-null  int8
 23  make            16435 non-null  category
 24  model           16435 non-null  category
 25  mpgData         16435 non-null  category
 26  phevBlended     16435 non-null  bool
 27  pv2             16435 non-null  int8
 28  pv4             16435 non-null  int16
 29  trany           16435 non-null  category
 30  UCity           16435 non-null  float64
 31  UHighway        16435 non-null  float64
 32  VClass          16435 non-null  category
 33  year            16435 non-null  datetime64[ns]
 34  youSaveSpend    16435 non-null  int16
 35  createdOn       16435 non-null  category
 36  modifiedOn      16435 non-null  category
dtypes: bool(1), category(10), datetime64[ns](1), float64(9), int16(4), int32(1), int8(11)
memory usage: 2.1 MB

In [141]:
for c in data.select_dtypes('float'):
    
    data[c] = pd.to_numeric(data[c], downcast='float')
    
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16435 entries, 0 to 37837
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       16435 non-null  float32
 1   city08          16435 non-null  int8
 2   city08U         16435 non-null  float32
 3   co2             16435 non-null  int8
 4   co2TailpipeGpm  16435 non-null  float32
 5   comb08          16435 non-null  int8
 6   comb08U         16435 non-null  float32
 7   cylinders       16435 non-null  float32
 8   displ           16435 non-null  float32
 9   drive           16435 non-null  category
 10  engId           16435 non-null  int16
 11  feScore         16435 non-null  int8
 12  fuelCost08      16435 non-null  int16
 13  fuelType        16435 non-null  category
 14  fuelType1       16435 non-null  category
 15  ghgScore        16435 non-null  int8
 16  highway08       16435 non-null  int8
 17  highway08U      16435 non-null  float32
 18  hlv             16435 non-null  int8
 19  hpv             16435 non-null  int8
 20  id              16435 non-null  int32
 21  lv2             16435 non-null  int8
 22  lv4             16435 non-null  int8
 23  make            16435 non-null  category
 24  model           16435 non-null  category
 25  mpgData         16435 non-null  category
 26  phevBlended     16435 non-null  bool
 27  pv2             16435 non-null  int8
 28  pv4             16435 non-null  int16
 29  trany           16435 non-null  category
 30  UCity           16435 non-null  float32
 31  UHighway        16435 non-null  float32
 32  VClass          16435 non-null  category
 33  year            16435 non-null  datetime64[ns]
 34  youSaveSpend    16435 non-null  int16
 35  createdOn       16435 non-null  category
 36  modifiedOn      16435 non-null  category
dtypes: bool(1), category(10), datetime64[ns](1), float32(9), int16(4), int32(1), int8(11)
memory usage: 1.6 MB

# Cleaning Text and Removing Special Characters

The presence of special characters in our fields has the potential to make analyzing our data challenging. Imagine not being able to perform calculations on a numeric field because it was currently represented as an object data type due to the fact that it had a dollar sign ($) in it. 

Similarly, imagine having a categorical field where you could not group records that belong in the same group together because in one field you are grouping by, terms that refer to the same thing are sometimes hyphenated. In cases like this, it is necessary to remove special characters so that we can properly analyze the data.

In our vehicles data set, the trany field has several special characters (parentheses, hyphens, etc.). Check the unique values and clean the column.

hint: check the `replace` function

In [52]:
#your code
unique_values =

In [53]:
#your code

In [54]:
#your code

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.



# Finding and Removing Duplicates

The final topic we are going to cover in this lab is how to identify and remove duplicate rows (or rows that refer to the same entity) in our data. When trying to identify duplicates, we will use the columns (or attributes) of the data to help us determine what entities are similar enough to be considered the same entity. We want to start with all the columns we currently have available to us and work our way toward a lesser number of attributes in an intuitive fashion. In this process, the act of dropping duplicated records is easy, but identifying the correct attributes for comparison and which records to drop is sometimes quite challenging.

The first thing we will do is attempt to drop any duplicate records, considering all the columns we currently have in the data set. 

Pandas provides us with the ability to do that via the `drop_duplicates method`.

## Drop duplicate rows that are completely equal

In [55]:
#your code

This tells us that there were no records that matched exactly across all columns. However, if we reduce the number of columns in our data that we are interested in, we can try again and have a higher likelihood of finding duplicate records.

## Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.

In [56]:
#your code

#print('Number of duplicate records dropped: ', str(before - after))

With the reduced number of columns, we were able to identify and drop 885 duplicate records.

# Export clean dataset
Export your bright new clean dataset into a csv file and store it in data folder.

In [57]:
#your code